@use 'main';

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: aqua;

  //nest
  .content {
    width: 50%;
    height: 350px;
    background-image: url('../assets/home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.5;

    //nest .content
    h2 {
      mix-blend-mode: difference;
      font-weight: bold;
      -moz-transform: translate(-15%, 100%);
      -webkit-transform: translate(-15%, 100%);
      -o-transform: translate(-15%, 100%);
      -ms-transform: translate(-15%, 100%);
      transform: translate(-15%, 100%);
    }
  }
}
